<!DOCTYPE html>
<html>
<head>
    <title>Navigator</title>
    <link rel="stylesheet" src="/static/style.css">
</head>
<body>
	<img href="/static/marius_juston.jpg"></img>
	<div style="display: flex; align-items: center; gap: 10px;">
		<br><br>
		<canvas id="mapCanvas"></canvas>
		<h1>Building Navigator</h1>
		<input type="text" id="roomInput" placeholder="Enter room number">
		<button onclick="buttonPress()" id="goBtn">Go</button>
	</div>
	<script src="/static/script.js"></script>

</body>
</html>
